<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{/layout/head :: headFragment}">
    <title> 계정 수정 </title>
</head>
<body>

<div class="messageContainer">
	<div class="newform">
		<label onclick="history.go(-1)" for="show" class="close-btn" title="close"><i class="fa fa-fw fa-times"></i></label>
        <br>
        <div class="text"> 계정 수정 </div>
        <h3 class="redError" th:if="${errMsg}" th:text="${errMsg}"></h3>
            <form th:action="${edit}" th:object="${user}" method="post">
            
            <div class="updateData">
            	<label>아이디</label>
                <div class="input"><a th:utext="${user.getUsername()}"></a></div>
            </div>
            
            <div class="data">
            	<label>이름</label>
                <input class="form-control" th:field="*{name}" type="text" name="name" />
            </div>
          
            <div class="data">
            	<label>이메일</label>
                <input class="form-control" th:field="*{email}" type="email" name="email"/>
            </div>
            
            <div class="data">
            	<label>연락처</label>
                <input class="form-control" th:field="*{contact}" type="text" name="contact"/>
            </div>
            
            <div class="data">
            	<label>새 비밀번호</label>
                <input class="form-control" type="password" name="password" placeholder="새 비밀번호"/>
            </div>
            
            <div class="data">
            	<label>새 비밀번호 확인</label>
                <input class="form-control" type="password" name="confirmPassword" placeholder="새 비밀번호 확인"/>
            </div>
            
            <div class="btn">
                 <div class="inner"></div>
                 <button type="submit"> 저장 </button>
            </div>

           </form>
            
    </div>
</div>

</body>
</html>