<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="~{/layout/head :: headFragment}">
	<title> 일번지 부동산 </title>
</head>

<body>

<!-- Header and Navigation bar -->
<div th:replace="~{/layout/header :: headerFragment}"></div>

<!-- Mostly viewed -->
<div class="content">
	<div class="container">
	<br>
		<div align="left">
        	<h1> 최신글 </h1>
     	</div>
     
     <div class="w3-row w3-container" style="margin:50px 0">
    	<div th:each="post, i: ${posts}">
    		<div>
    			<div align="left">
				<img class="responsive" th:if="${post.getPhotoImage()}" th:src="@{..}+${post.getPhotoImage()}">
				</div>
				<div align="left">
				<a th:href= "@{/all_news_post/{postId}(postId=${post.id})}" th:text="${post.getTitle()}"></a>
    			<p><a th:text="${post.getContent()}"></a></p>
    			</div>
    			<hr>
			</div>
		</div>
	</div>
	
		
</div>
<br/>  		

</div>

</body>

<br>

<!-- Footer -->
<div th:replace="~{/layout/footer :: footerFragment}"></div>

<!-- Script -->
<script>
function forSmallScreen() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav"){
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
</html>