<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/head :: headFragment}">
   <title th:text="${add} ? 'Create a Contact' : 'Edit a Contact'" /></title>
</head>

<body>
<div class="messageContainer">
	<div class="newform">
		<label onclick="history.go(-1)" for="show" class="close-btn" title="close"><i class="fa fa-fw fa-times"></i></label>
        <br>
        <div class="text">글수정</div>
        <form th:action="${add} ? @{/search/add]} : @{/search/{postId}/edit(postId=${post.id})}"
              th:object="${post}" method="POST">
			<div class="updateData" align="left">
				<label>카테고리</label>
                <div class="input"><a th:utext="${post.getPostCategory().getDescription()}"></a></div>
            </div>
            
            <div class="data">
				<label>제목</label>
                <input type="text" th:field="*{title}"/>
            </div>
            
            <div class="updateData" align="left">
				<label>이미지 첨부</label>
                <input type="file" th:field="*{photoImage}" />
            </div>
            
            <div class="data">
				<label>내용</label>
                <textarea th:field="*{content}" class="form-control" placeholder="내용"
                             minlength="6" maxlength="10000"></textarea>
            </div>
            
            <div class="btns">
                 <div class="innerbtn"></div>
                 <button type="submit">수정</button>   
            </div>
            
        </form>
    </div>
</div>
<br/>
	<!-- Check if errorMessage is not null and not empty -->       
	<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" /></div>   
</body>
</html>